.prev {
  font-family: icomoon;
  font-size: 34px;
  color: #ededed;
  position: absolute;
  top: 30px;
  width: 40px;
  background-color: #b9b9b9;
  text-align: center;
  cursor: pointer;
  left: 0;
}

.next {
  font-family: icomoon;
  font-size: 34px;
  color: #ededed;
  position: absolute;
  top: 30px;
  width: 40px;
  background-color: #b9b9b9;
  text-align: center;
  cursor: pointer;
  right: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  font-family: open Sans, Arial;
  font-size: 12px;
}

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot);
  src: url(../fonts/icomoon/icomoon.eot?#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoon.svg#icomoon) format("svg"), url(../fonts/icomoon/icomoon.woff) format("woff"), url(../fonts/icomoon/icomoon.ttf) format("truetype");
}
#container {
  margin: 0 auto;
  width: 860px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#content {
  background-color: #fdfdfd;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.extra-text {
  font-size: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #ededed;
  color: #999;
  margin-bottom: 20px;
  font-weight: 300;
}

.transition {
  transition: all 0.5s ease;
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-all;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}
h3.main-heading {
  margin: 0 2px 20px 0;
  border-bottom: 1px solid #ededed;
  padding-bottom: 14px;
  color: #444;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  clear: both;
  position: relative;
}
h3.main-heading::after {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #98cee4;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

header {
  height: 60px;
  margin-bottom: 20px;
  overflow: hidden;
}

.socialicons {
  float: right;
  margin-top: 18px;
}
.socialicons li {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 2px;
}
.socialicons li a {
  font-family: icomoon;
  font-size: 16px;
  display: block;
  padding: 6px 8px;
  background-color: #444;
  color: #fdfdfd;
}
.socialicons li a:hover {
  color: #98cee4;
}

.menu {
  height: 100px;
  background-color: #ededed;
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 0 0 15px 15px;
}

.tabs {
  height: 116px;
  position: absolute;
  margin-top: -14px;
  z-index: 100;
}
.tabs li {
  float: left;
  height: 116px;
}
.tabs li > a {
  padding-top: 28px;
  width: 115px;
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #b9b9b9;
  text-align: center;
  font-weight: 300;
}
.tabs li > a > i {
  font-size: 45px;
  speak: none;
  font-family: icomoon;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}
.tabs li.active {
  background: url(../images/tab-hover.png) no-repeat;
}
.tabs li.active a {
  color: #98cee4;
}

.disabled {
  display: none !important;
}

#profile {
  background: #98cee4;
  background-image: url(../images/header-shadow.png);
  background-position: center bottom;
  background-repeat: repeat-x;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.about {
  float: left;
  margin-top: 30px;
  width: 490px;
  margin-left: 20px;
}
.about .photo-inner {
  float: left;
  background: url(../images/photo-inner.png) no-repeat;
  width: 192px;
  height: 212px;
  padding: 12px 0 0 20px;
}
.about .photo-inner img {
  background-color: #fdfdfd;
}
.about h1 {
  font-weight: 900;
  color: #fdfdfd;
  line-height: 34px;
  margin-top: 8px;
}
.about h3 {
  margin-top: 5px;
  font-size: 18px;
  color: #fdfdfd;
  line-height: 18px;
}
.about p {
  font-size: 14px;
  margin-top: 15px;
  color: #fdfdfd;
  font-weight: 400;
  line-height: 20px;
}

.personal-info {
  float: left;
  margin-top: 30px;
  width: 310px;
  min-height: 230px;
  margin-left: 10px;
  background: url(../images/personal-info-sep.png) no-repeat left top;
  padding: 20px 0 0 20px;
}
.personal-info li {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
}
.personal-info li label {
  color: #fdfdfd;
  float: left;
  padding: 4px 7px;
  font-weight: 600;
  border-radius: 3px;
}
.personal-info li span {
  float: right;
  width: 220px;
  padding-top: 4px;
  font-weight: 300;
  color: #fdfdfd;
}

#resume {
  padding: 40px 20px;
  overflow: hidden;
}
#resume .button {
  width: 250px;
  padding: 10px;
  background-color: #8c8c8c;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 20px 0 0 -20px;
  color: #f7f7f7;
  display: block;
  text-align: center;
  border-radius: 0 4px 4px 0;
}
#resume .button:hover {
  background-color: #98cee4;
}

.skills-section {
  float: left;
  width: 270px;
}

.timeline-section {
  float: left;
  width: 490px;
  padding-right: 60px;
}

.timeline {
  margin-bottom: 30px;
}
.timeline li {
  margin-bottom: 20px;
}
.timeline li .timelineUnit {
  line-height: 17px;
  margin-left: 0;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #98cee4;
  padding-left: 15px;
}
.timeline li .timelineUnit .timelineDate {
  line-height: 17px;
  color: #98cee4;
  font-size: 14px;
  margin-left: 10px;
  font-weight: normal;
  padding: 2px 6px;
  float: right;
}
.timeline li .timelineUnit h4 {
  line-height: 24px;
  font-size: 15px;
  color: #444;
}
.timeline li .timelineUnit h5 {
  line-height: 18px;
  font-size: 13px;
  color: #999;
}
.timeline li .timelineUnit p {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.skills {
  margin-bottom: 25px;
  overflow: hidden;
}
.skills li {
  margin-bottom: 15px;
  float: left;
  padding-left: 0;
}
.skills li h4 {
  width: 140px;
  float: left;
  font-size: 15px;
  color: #444;
}
.skills li .rating {
  width: 123px;
  height: 14px;
  float: left;
}
.skills li .rating > span {
  opacity: 0.3;
  height: 12px;
  width: 12px;
  background-color: #757575;
  display: block;
  float: left;
  margin-right: 1px;
  border: 2px solid #ededed;
  border-radius: 20px;
}

#portfolio {
  padding: 20px;
}
#portfolio ul {
  list-style-type: none;
}

#portfolio-list {
  width: 820px;
  overflow: hidden;
}
#portfolio-list li {
  float: left;
  margin-right: 25px;
  text-align: center;
  background-color: #fbfbfb;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  width: 100%;
  height: 185px;
  margin-bottom: 30px;
  width: 180px;
}
#portfolio-list li:hover {
  border-bottom: 1px solid #98cee4;
  height: 185px;
}
#portfolio-list li:hover .title {
  color: #98cee4;
}
#portfolio-list li .title {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 400;
  color: #444;
}
#portfolio-list li .categorie {
  font-size: 11px;
  line-height: 25px;
  color: #999;
}
#portfolio-list img {
  background-color: #fdfdfd;
  height: 120px;
  width: 180px;
}

.cats-filter {
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  padding: 15px 0;
}
.cats-filter li a {
  float: left;
  margin-right: 7px;
  color: #fdfdfd;
  background-color: #666;
  padding: 6px;
  margin-bottom: 5px;
}
.cats-filter li a:hover {
  background-color: #98cee4;
}
.cats-filter li a.current {
  background-color: #98cee4;
}

.adipoli-wrapper {
  margin: auto;
  position: relative;
  display: inline-block;
}
.adipoli-wrapper > img {
  position: absolute;
  z-index: 1;
}

.adipoli-before {
  position: absolute;
  z-index: 5;
}

.adipoli-after {
  position: absolute;
  z-index: 10;
}

.adipoli-slice {
  display: block;
  position: absolute;
  z-index: 15;
  height: 100%;
}

.adipoli-box {
  display: block;
  position: absolute;
  z-index: 15;
}

.isotope-item {
  z-index: 2;
}

.isotope {
  transition-duration: 0.8s;
  transition-property: height, width;
}
.isotope .isotope-item {
  transition-duration: 0.8s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

form textarea {
  box-shadow: inset 0 5px 16px -13px #444;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #666;
  font-size: 12px;
  height: 30px;
  outline: none;
  padding: 6px 10px;
  resize: none;
  width: 96%;
  height: 112px;
  line-height: 18px;
  margin-bottom: 0;
  padding-top: 8px;
}
form .input {
  box-shadow: inset 0 5px 16px -13px #444;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #666;
  font-size: 12px;
  height: 30px;
  outline: none;
  padding: 6px 10px;
  resize: none;
  width: 96%;
}
form p {
  margin-bottom: 15px;
}
form p label {
  display: block;
  color: #999;
  margin-bottom: 8px;
  font-size: 13px;
}

#contact {
  padding: 30px 0;
  overflow: hidden;
}

.contact-info {
  float: left;
  padding: 0 20px;
  width: 250px;
}
.contact-info ul {
  float: left;
  border-left: 1px solid #98cee4;
  padding-left: 18px;
}
.contact-info ul li {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #666;
  overflow: hidden;
}

.contact-form {
  float: left;
  padding: 0 20px;
  width: 530px;
}

#map {
  height: 300px;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
}

.button {
  color: #fdfdfd;
  background-color: #666;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}
.button:hover {
  background-color: #98cee4;
}

.success {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #e3ebc6;
  color: #8fa442;
  border: 1px solid #c2d288;
}

.error {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #f9e5e6;
  color: #b3696c;
  border: 1px solid #f7c7c9;
}

footer {
  margin-top: 20px;
  height: 20px;
}
footer .copyright {
  float: left;
  color: #444;
  padding-left: 6px;
}

div.footer {
  margin-top: 20px;
  height: 20px;
}
div.footer .copyright {
  float: left;
  color: #444;
  padding-left: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #container {
    width: 750px;
  }

  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
  }

  .about {
    width: 410px;
  }
  .about h1 {
    line-height: 38px;
    font-size: 30px;
  }
  .about h3 {
    font-size: 14px;
    line-height: 14px;
  }

  .personal-info {
    width: 280px;
    margin-right: 10px;
  }
  .personal-info li span {
    width: 190px;
  }

  .timeline-section {
    width: 380px;
    padding-right: 30px;
  }

  .skills-section {
    width: 300px;
  }

  #portfolio-list {
    width: 750px;
  }
  #portfolio-list li {
    margin-right: 60px;
  }

  .contact-info {
    width: 250px;
  }

  .contact-form {
    width: 420px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #container {
    width: 470px;
  }

  .socialicons {
    margin-top: 9px;
  }

  .about {
    width: 420px;
    display: block;
  }
  .about h1 {
    line-height: 38px;
    font-size: 30px;
  }
  .about h3 {
    font-size: 14px;
    line-height: 14px;
  }

  .personal-info {
    margin-top: 0;
    display: block;
    width: 420px;
    background: none;
    border-top: 1px solid #98cee4;
  }
  .personal-info li span {
    width: 280px;
  }

  .tabs {
    padding-left: 5px;
  }

  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
  }

  .skills-section {
    width: 420px;
  }

  .timeline-section {
    width: 420px;
    padding-right: 60px;
  }

  #portfolio-list {
    width: 450px;
  }
  #portfolio-list li {
    margin-right: 40px;
  }

  .contact-info {
    width: 420px;
  }

  .contact-form {
    margin-top: 20px;
    width: 420px;
  }

  .skills li h4 {
    width: 260px;
  }
}
@media only screen and (max-width: 479px) {
  #container {
    width: 300px;
    margin-top: 10px;
  }

  .extra-text {
    font-size: 16px;
  }

  .socialicons {
    display: none !important;
  }

  .about {
    width: 280px;
    display: block;
    margin: 0px 0 15px 0px;
  }
  .about .photo-inner {
    margin-left: 40px;
    background: url(../images/photo-inner.png) no-repeat;
    width: 192px;
    height: 212px;
    padding: 0px;
  }
  .about .photo-inner ul {
    list-style: none !important;
  }
  .about h1 {
    line-height: 38px;
    font-size: 30px;
    text-align: center;
  }
  .about h3 {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
  .about p {
    text-align: center;
  }

  .personal-info {
    margin-top: 0;
    display: block;
    width: 280px;
    background: none;
    border-top: 1px solid #98cee4;
    margin-left: 10px;
    min-height: 220px;
    padding-left: 0;
  }
  .personal-info li {
    font-size: 13px;
  }
  .personal-info li span {
    width: 200px;
  }

  .tabs {
    padding-left: 0;
  }
  .tabs li {
    width: 80px;
  }
  .tabs li > a {
    width: 60px;
    font-size: 14px;
  }
  .tabs li.active {
    background-image: none !important;
  }

  .menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
  }

  #resume {
    padding: 10px;
  }

  .timeline-section {
    width: 280px;
    padding-right: 60px;
  }

  .skills-section {
    width: 280px;
  }

  #portfolio-list {
    width: 280px;
  }
  #portfolio-list li {
    margin-left: 40px;
  }

  .contact-info {
    width: 280px;
    padding: 0 10px;
  }

  .contact-form {
    margin-top: 20px;
    width: 280px;
    padding: 0 10px;
  }

  div.top {
    height: 50px;
    margin-bottom: 5px;
  }

  .skills li h4 {
    width: 120px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {
  .tabs li.active {
    background: url(../images/tab-hover@2x.png) no-repeat;
    background-size: 116px 114px;
  }
}
