footer {
	margin-top: 20px;
	height: 20px;
	.copyright {
		float: left;
		color: $mine_shaft;
		padding-left: 6px;
	}
}

div.footer {
	margin-top: 20px;
	height: 20px;
	.copyright {
		float: left;
		color: $mine_shaft;
		padding-left: 6px;
	}
}
