@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// add prefixes to border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}




// define breakpoints with words, not pixels
@mixin breakpoint($point) {
   @if $point == large {
      @media only screen and(min-width: 768px) and(max-width: 959px) {
         @content;
      }
   } 
   @else if $point == desktop {
      @media only screen and (max-width: 1024px) {
         @content;
      }
   } 
   @else if $point == tablet {
      @media only screen and(min-width: 480px) and(max-width: 767px) {
         @content;
      }
   }
   @else if $point == phone {
      @media only screen and (max-width: 479px) {
         @content;
      }
   }
}
